<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gerador de Senha Aleatória</h1>
        <form method="POST">
            <label for="length">Comprimento da Senha:</label>
            <input 
                type="number" 
                id="length" 
                name="length" 
                required 
                min="4" 
                max="64" 
                placeholder="Escolha o comprimento da senha"
            >

            <label for="charset_option">Tipo de Caracteres:</label>
            <select id="charset_option" name="charset_option">
                <option value="letters_and_digits">Apenas Letras e Números</option>
                <option value="unicode">Unicode (Letras, Números e Símbolos)</option>
            </select>

            <button type="submit">Gerar Senha</button>
        </form>

        {% if password %}
            <h2>Senha Gerada:</h2>
            <p>{{ password }}</p>
        {% endif %}
    </div>
</body>
</html>
